.testimonials-card-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.5rem 0.5rem;
    /* height:80vh; */
    /* background-image: url(../../assets/hero1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */


}
.testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-size: 3rem;
margin-bottom:1rem ;
}

.testimonial-card{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   
}
.testimonial-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.39) 0px 3px 12px;
gap: 0.5rem;
width:250px;
border-radius: 10px;
height:300px;
transition:all ease 0.5s;
border-top:6px solid black;
background-color: white;
color: black;
}
.testimonial-details:hover{
    transform:scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.979) 0px 3px 12px;
    border-top:6px solid black;
}
.testimonial-image{
    display:flex;
    justify-content:end;
    align-items:center;
    overflow:hidden;
    width:70px;
    height:70px;
    padding:2px;
    border-radius: 50%;
   margin-top:1rem;
}
.testimonial-image>img{
    display:flex;
    justify-content:end;
    width:100%;
    height:100%;
    border:2px solid black;
    border-radius:50%;
    
  
}
.testimonial-name>p{
    display:flex;
justify-content:center;
align-items:center;
font-size:1.5rem;
font-weight:300;
}
.testimonial-place>p{
    display:flex;
justify-content:center;
align-items:center;
font-size:1.5rem;
font-weight:300; 
}
.testimonial-text{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1rem;
    font-weight:200;
    line-height:1;
    padding:0 1rem;
    padding-bottom: 1rem;

}