.admin-section{
    display: flex;
    flex-direction: row;
    gap:2rem;
}
.create-meal-section{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.meal-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.admin-welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-color: black;
    margin: 1rem;
}
.meal-image4{
    border: 1px solid black;
}

.meal-name1{
    font-size: 1rem;
    font-weight: 200;
    margin: 0.5rem 0;
    width: 90%;
}
.meal-dscription{
    font-size: 1rem;
    font-weight: 200;
    margin: 0.5rem 0;
    width: 90%;
}
.meal-price1{
    font-size: 1rem;
    font-weight: 200;
    margin: 0.5rem 0;
    width: 90%; 
}
.meal-category{
    font-size: 1rem;
    font-weight: 200;
    margin: 0.5rem 0;
    width: 90%;
}
.meal-submit{
    background-color: black;
    color: white;
    padding:0.5rem 1rem ;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
}
.meal-submit:hover{
    color: rgb(241, 7, 85);
}