

.hero-section{
      background-image: url(../../assets/hero2.jpg);
      opacity:0.9;
       height:90vh; 
      background-size: cover;
      background-position:center;
      background-repeat:no-repeat;
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      margin: 0 1rem;
}